In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv('C:/Users/anuj/Documents/Anuj/MMA/Python Practice/Dataset/Groceries.csv')

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction ID  20 non-null     int64
 1   Date            20 non-null     object
 2   Items           20 non-null     object
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes

       Transaction ID
count        20.00000
mean         10.50000
std           5.91608
min           1.00000
25%           5.75000
50%          10.50000
75%          15.25000
max          20.00000

In [3]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

In [4]:
df.head()

   Transaction ID       Date                          Items
0               1  1/24/2020                         carrot
1               2  1/24/2020           bacon, peanut butter
2               3  1/24/2020  milk, chicken, cheese, carrot
3               4  1/24/2020    bacon, peanut butter, bread
4               5  1/25/2020           bacon, chicken, milk

In [5]:
items=df['Items'].copy()

In [6]:
items

0                                    carrot
1                      bacon, peanut butter
2             milk, chicken, cheese, carrot
3               bacon, peanut butter, bread
4                      bacon, chicken, milk
5                         eggs, milk, bread
6                         beans, eggs, milk
7                     cheese, apple, banana
8                        bread, milk, beans
9                     cake mix, beans, milk
10             chicken, beans, cheese, eggs
11                              eggs, bread
12                          ice cream, milk
13    cake mix, beans, bread, peanut butter
14                 bacon, eggs, milk, bread
15               cake mix, ice cream, beans
16                     bacon, peanut butter
17                           cake mix, milk
18        bread, peanut butter, bacon, milk
19                             bread, bacon
Name: Items, dtype: object

In [7]:
te=TransactionEncoder()
te_sample=te.fit(items).transform(items)
df1 = pd.DataFrame(te_sample, columns=te.columns_)

In [8]:
frequent_itemsets = fpgrowth(df1, min_support=0.5, use_colnames=True)

In [9]:
frequent_itemsets

     support                  itemsets
0       1.00                       (a)
1       0.80                       (c)
2       0.70                       (r)
3       0.95                       (e)
4       0.95                       (,)
..       ...                       ...
602     0.50     (l, m, e, ,,  , i, k)
603     0.50     (l, m, a, ,,  , i, k)
604     0.50     (l, m, a, e,  , i, k)
605     0.50     (l, m, a, e, ,, i, k)
606     0.50  (l, m, a, e, ,,  , i, k)

[607 rows x 2 columns]

In [10]:
frequent_itemsets['length']= frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [11]:
frequent_itemsets_new=frequent_itemsets[frequent_itemsets['length']>2]

In [12]:
frequent_itemsets_new

     support                  itemsets  length
17      0.75                 (a,  , c)       3
18      0.75                 (a, ,, c)       3
19      0.75                 (a, e, c)       3
20      0.75                 (,,  , c)       3
21      0.75                 (e,  , c)       3
..       ...                       ...     ...
602     0.50     (l, m, e, ,,  , i, k)       7
603     0.50     (l, m, a, ,,  , i, k)       7
604     0.50     (l, m, a, e,  , i, k)       7
605     0.50     (l, m, a, e, ,, i, k)       7
606     0.50  (l, m, a, e, ,,  , i, k)       8

[533 rows x 3 columns]

In [15]:
from mlxtend.frequent_patterns import association_rules

rules=association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [16]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),(c),1.00,0.80,0.80,0.800000,1.000000,0.000,1.000000
1,(c),(a),0.80,1.00,0.80,1.000000,1.000000,0.000,inf
2,"( , c)",(a),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
3,(a),"( , c)",1.00,0.75,0.75,0.750000,1.000000,0.000,1.000000
4,"(,, c)",(a),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
...,...,...,...,...,...,...,...,...,...
11851,(e),"(l, m, a, ,, , i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556
11852,"(,)","(l, m, a, e, , i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556
11853,( ),"(l, m, a, e, ,, i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556
11854,(i),"(l, m, a, e, ,, , k)",0.65,0.50,0.50,0.769231,1.538462,0.175,2.166667
11855,(k),"(l, m, a, e, ,, , i)",0.65,0.50,0.50,0.769231,1.538462,0.175,2.166667

In [17]:
rules['len']=rules['antecedents'].apply(lambda x: len(x))

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,len
0,(a),(c),1.00,0.80,0.80,0.800000,1.000000,0.000,1.000000,1
1,(c),(a),0.80,1.00,0.80,1.000000,1.000000,0.000,inf,1
2,"( , c)",(a),0.75,1.00,0.75,1.000000,1.000000,0.000,inf,2
3,(a),"( , c)",1.00,0.75,0.75,0.750000,1.000000,0.000,1.000000,1
4,"(,, c)",(a),0.75,1.00,0.75,1.000000,1.000000,0.000,inf,2
...,...,...,...,...,...,...,...,...,...,...
11851,(e),"(l, m, a, ,, , i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556,1
11852,"(,)","(l, m, a, e, , i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556,1
11853,( ),"(l, m, a, e, ,, i, k)",0.95,0.50,0.50,0.526316,1.052632,0.025,1.055556,1
11854,(i),"(l, m, a, e, ,, , k)",0.65,0.50,0.50,0.769231,1.538462,0.175,2.166667,1
11855,(k),"(l, m, a, e, ,, , i)",0.65,0.50,0.50,0.769231,1.538462,0.175,2.166667,1

In [19]:
rules[(rules['len']>2)&(rules['support']>=0.8) & (rules['confidence'] >=0.8)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,len
860,"(a, e, ,)",( ),0.95,0.95,0.95,1.000000,1.052632,0.0475,inf,3
861,"(a, e, )","(,)",0.95,0.95,0.95,1.000000,1.052632,0.0475,inf,3
862,"(a, ,, )",(e),0.95,0.95,0.95,1.000000,1.052632,0.0475,inf,3
863,"(e, ,, )",(a),0.95,1.00,0.95,1.000000,1.000000,0.0000,inf,3
926,"(e, ,, )",(b),0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
927,"(e, ,, b)",( ),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
928,"(e, , b)","(,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
929,"(,, , b)",(e),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
940,"(a, ,, )",(b),0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
941,"(a, ,, b)",( ),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
942,"(a, , b)","(,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
943,"(,, , b)",(a),0.80,1.00,0.80,1.000000,1.000000,0.0000,inf,3
960,"(a, e, )",(b),0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
961,"(a, e, b)",( ),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
962,"(a, , b)",(e),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
963,"(e, , b)",(a),0.80,1.00,0.80,1.000000,1.000000,0.0000,inf,3
986,"(a, e, ,)",(b),0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
987,"(a, e, b)","(,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
988,"(a, ,, b)",(e),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
989,"(e, ,, b)",(a),0.80,1.00,0.80,1.000000,1.000000,0.0000,inf,3
1018,"(a, e, ,, b)",( ),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,4
1019,"(a, e, ,, )",(b),0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,4
1020,"(a, e, , b)","(,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,4
1021,"(a, ,, , b)",(e),0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,4
1022,"(e, ,, , b)",(a),0.80,1.00,0.80,1.000000,1.000000,0.0000,inf,4
1023,"(a, e, ,)","( , b)",0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
1024,"(a, e, b)","(,, )",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
1025,"(a, e, )","(,, b)",0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
1026,"(a, ,, b)","(e, )",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
1027,"(a, ,, )","(e, b)",0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
1028,"(a, , b)","(e, ,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
1029,"(e, ,, b)","(a, )",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
1030,"(e, ,, )","(a, b)",0.95,0.80,0.80,0.842105,1.052632,0.0400,1.266667,3
1031,"(e, , b)","(a, ,)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3
1032,"(,, , b)","(a, e)",0.80,0.95,0.80,1.000000,1.052632,0.0400,inf,3